@using Service.DTOs
@model UserForResultDto
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Users" asp-action="Update" method="put" asp-antiforgery="true" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Id">Id</label>
        <input type="text" class="form-control" asp-for="Id" placeholder="Id" required>
    </div>
    <div class="form-group">
        <label for="FirstName">FirstName</label>
        <input type="text" class="form-control" asp-for="FirstName" placeholder="FirstName" required>
    </div>
    <div class="form-group">
        <label for="LastName">LastName</label>
        <input type="text" class="form-control" asp-for="LastName" placeholder="LastName" required>
    </div>
    <div class="form-group">
        <label for="BirhtOfDate">BirthOfDate</label>
        <input type="text" class="form-control" asp-for="BirthOfDate" placeholder="BirthOfDate" required>
    </div>
    
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" class="form-control" asp-for="Email" placeholder="Email" required>
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="text" class="form-control" asp-for="Password" placeholder="Password" required>
    </div>

    <div style="padding-top: 50px;">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div style="padding-top: 10px;">
        <button type="submit" class="btn btn-danger" onclick="redirectToIndex()">Go back</button>
    </div>
</form>